{% extends 'base.html.twig' %}

{% block title %}Snowtricks Show{% endblock %}

{% block content %}
    <div id="home_block_container" class="container-fluid">
            ici le trick

    </div>
{% endblock %}
{% block customJavascripts %}

{% endblock %}