<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - My Webpage</title>
        {{ include('/parts/head_block.html.twig') }}
    </head>
<body>
<div id="content" class="row">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
</div>
</body>
</html>
