{% extends 'base.html.twig' %}
{% block footer %}
    <footer class="footer bg-dark row fixed-bottom navbar-expand-sm">
        <div class="col-lg-8 col-md-10 mx-auto">
            text-footer
        </div>
    </footer>
{% endblock %}